<%= render 'layouts/home' unless user_signed_in? %>

<p id="notice "><%= notice %></p>

<div class="row panel container text-center">
  <h1><strong>Upcoming Trips</strong></h1> 
  <%= button_to new_trip_path, method: :get, class:"btn btn-default" do %>
    <span class= "glyphicon glyphicon-plus"></span>New Trip
  <%end %>
</div>


<% @trips.each do |trip| %> 
  <%if trip.date_end > Date.current %>
    <div class="row panel container">
      <div class="col-sm-2">
        <h2><strong><%= trip.destination %></strong></h2>
        <%= trip.date_start.to_datetime.strftime('%D') %> - <%= trip.date_end.strftime('%D')%>
      </div>
      <div class="col-sm-1"> 
          <p></p>  
          <p><%= button_to 'View', trip_path(trip), method: :get , class:"btn btn-sm btn-default"%></p>
          <p><%= button_to 'Edit', edit_trip_path(trip), method: :get, class:"btn btn-sm btn-default" %></p>
      </div>
    </div>
  <%end%><!-- ends date validation -->
<% end %> <!-- ends trip loop -->




 
