<p id="notice"><%= notice %></p>

<div class="row panel container">
 
  <p>
    <h1 class="text-center"><%= @room.description %></h1>
  </p>
  <p>
    <strong>Location:</strong>
    <%= @room.location %>
  </p>
  <p>
    <strong>Number:</strong>
    <%= @room.number %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= @room.price %>
  </p>
</div>

<table>
  <thead>
    <tr>
      <strong>Spots: </strong>
    </tr>
  </thead>

  <tbody>
    <% @spots.each do |spot| %>
      <tr>
        <td><%= spot.description %></td>
          <% if spot.user_id == nil %>
            <td><%= link_to 'Take this Spot!', take_spot_path(spot.id), method: :post %></td>
          <% else %>
             <td><%= User.find(spot.user_id).first_name  %></td>
          <%end%>
        <% if current_user.id == @room.owner_id %>
          <td><%= link_to 'Remove spot', [@room, spot],  data: { confirm: 'Are you sure?' }, method: :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<p></p>
<%= link_to 'Edit', edit_room_path %> |
<%= link_to 'Back', trip_path(@trip.id) %> |

<% if current_user.id == @room.owner_id %>
  <%= link_to 'Add a Spot', new_room_spot_path(@room) %>
<% end %>

